{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'myapp/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/home.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/footer-menu.css' %}">
</head>
<body>


<!-- 个人中心首图 -->
<div class="profile-container">
    <div class="profile-avatar">
        <!-- 头像图片放这里 -->
        <img src="{% static 'myapp/image/avatar.jpg' %}" alt="头像">
    </div>
    <div class="profile-info">
        <div class="profile-nickname">
            {{ user_nickname }}
        </div>
        <div class="profile-countdown">
            {% if remaining_days != None %}
                激活到期倒计时: {{ remaining_days }}天
            {% else %}
                未激活或已过期
            {% endif %}
        </div>
    </div>
</div>


{#    激活按钮    #}
<div class="activation-button-container">
    <a href="{% url 'activate_card' %}" class="activate-button">点我激活哦</a>

</div>


<div class="function-container">
    <a href="{% url 'my_wordbook' %}" class="function-item">我的单词本</a>
    <a href="link_to_past_papers.html" class="function-item">历年真题下载</a>
</div>

{#    售后    #}
<div class="list-container">
    <ul class="custom-list">
        <li class="custom-list-item">赠送激活码</li>
        <li class="custom-list-item">售后服务</li>
        <li class="custom-list-item">建议</li>
    </ul>
</div>

{#    退出    #}
<div class="activation-button-container">
    <a href="{% url 'my_logout' %}" class="logout-button">退出登录</a> <!-- 按钮文本和链接根据需要修改 -->
</div>

<div class="footer-menu">
    <div class="menu-item">
        <a href="{% url 'my_index' %}">
            <i class="fa fa-home"></i>
            <span>主页</span>
        </a>
    </div>

    <div class="menu-item">
        <a href="{% url 'my_home' %}">
            <i class="fa fa-user"></i>
            <span>我的</span>
        </a>
    </div>
</div>


</body>
</html>